body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, figcaption, figure, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font: 12px/1 Lucida Grande,'Microsoft YaHei',"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}

h1 {
  font-size: 18px;
  font-weight: normal;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

h3 {
  font-size: 14px;
  font-weight: normal;
}

h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

address, cite, dfn, em, var {
  font-style: normal;
}

code, kbd, pre, samp, tt {
  font-family: "Courier New",Courier,monospace;
}

small {
  font-size: 12px;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

abbr[title], acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

q:before, q:after {
  content: '';
}

legend {
  color: #000;
}

fieldset, img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: 0;
  height: 1px;
}

* {
  -ms-word-break: break-all;
  word-break: break-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-ctn {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hide {
  display: none !important;
}

.loading-page {
  background: #f01702;
}

.loading-page figure {
  position: absolute;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.loading-page figure img {
  margin-bottom: 20px;
}

.loading-page figure figcaption {
  color: #fff;
  font-size: 18px;
  transition: all 1s linear;
}

.slide-page {
  position: relative;
  font-family: "Microsoft Yahei";
}

.slide-page-1 {
  background: #81d8d0;
}

.slide-page-1 h1 {
  visibility: hidden;
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 3px #666;
}

.slide-page-1 h1 span {
  margin: 0 3px;
  color: #f60;
}

.slide-page-1 .poem {
  visibility: hidden;
  position: absolute;
  top: 100px;
  right: 39%;
  transform: translateX(50%);
}

.slide-page-1 .poem img {
  width: 60%;
}

.slide-page-1 .us {
  visibility: hidden;
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
}

.slide-page-1 .us .yy {
  position: absolute;
  bottom: -50px;
  left: 0%;
  transform: translateX(-100%);
  transition: left 1s ease-out, bottom 1s ease-out;
  z-index: 1;
}

.slide-page-1 .us .yy img {
  width: 60px;
}

.slide-page-1 .us .tt {
  position: absolute;
  bottom: -50px;
  right: 0%;
  transform: translateX(100%);
  transition: right 1s ease-out, bottom 1s ease-out;
  z-index: 1;
}

.slide-page-1 .us .tt img {
  width: 60px;
}

.slide-page-1 .city {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.slide-page-1 .city img {
  width: 100%;
}

.slide-page-1 .city h2 {
  display: none;
  position: absolute;
  bottom: 80px;
  left: 40px;
  color: #fff;
  font-size: 20px;
}

.slide-page-1.page-active h1.active {
  visibility: visible;
}

.slide-page-1.page-active .poem.active {
  visibility: visible;
}

.slide-page-1.page-active .us.active {
  visibility: visible;
}

.slide-page-1.page-active .us.active .yy {
  left: 50%;
  bottom: 0;
}

.slide-page-1.page-active .us.active .tt {
  right: 50%;
  bottom: 0;
}

.slide-page-1.page-active .city.active {
  visibility: visible;
}

.slide-page-2 {
  background: #f3e09b;
}

.slide-page-2 h1 {
  visibility: hidden;
  position: absolute;
  left: 30px;
  top: 40%;
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  transform: translateY(-50%);
  text-shadow: 1px 1px 3px #666;
}

.slide-page-2 h1 span {
  color: #f60;
}

.slide-page-2 .poem {
  visibility: hidden;
  position: absolute;
  top: 24%;
  right: 13.5%;
  text-align: right;
}

.slide-page-2 .poem img {
  width: 60%;
}

.slide-page-2 .us {
  visibility: hidden;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.slide-page-2 .us .yy {
  position: absolute;
  left: 33%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.5s linear, left 1s 1s ease-out, top 1s 1s ease-out, transform 1s 1s ease-out;
  z-index: 1;
}

.slide-page-2 .us .yy img {
  width: 60px;
}

.slide-page-2 .us .tt {
  position: absolute;
  left: 33%;
  bottom: 50%;
  opacity: 0;
  transform: translateX(100%) translateY(50%);
  transition: opacity 0.5s linear, left 1s 1s ease-out, bottom 1s 1s ease-out, transform 1s 1s ease-out;
  z-index: 1;
}

.slide-page-2 .us .tt img {
  width: 60px;
}

.slide-page-2 .city1 {
  visibility: hidden;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.slide-page-2 .city1 img {
  width: 100%;
}

.slide-page-2 .city2 {
  visibility: hidden;
  position: absolute;
  top: -10px;
  left: 0;
}

.slide-page-2 .city2 img {
  width: 100%;
  transform: rotate(-180deg);
}

.slide-page-2.page-active h1.active {
  visibility: visible;
}

.slide-page-2.page-active .poem.active {
  visibility: visible;
}

.slide-page-2.page-active .us.active {
  visibility: visible;
}

.slide-page-2.page-active .us.active .yy {
  top: 18%;
  transform: translateY(-50%) rotate(-180deg);
  opacity: 1;
}

.slide-page-2.page-active .us.active .tt {
  bottom: 24%;
  transform: translateX(0%) translateY(50%);
  opacity: 1;
}

.slide-page-2.page-active .city1.active {
  visibility: visible;
}

.slide-page-2.page-active .city2.active {
  visibility: visible;
}

.slide-page-3 {
  background: #fedfe1;
}

.slide-page-3 h1 {
  visibility: hidden;
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 3px #666;
}

.slide-page-3 h1 span {
  margin: 0 3px;
  color: #f60;
}

.slide-page-3 .poem1 {
  visibility: hidden;
  position: absolute;
  top: 100px;
  right: 0%;
  text-align: right;
}

.slide-page-3 .poem1 img {
  width: 70%;
}

.slide-page-3 .poem2 {
  visibility: hidden;
  position: absolute;
  top: 100px;
  left: 2%;
}

.slide-page-3 .poem2 img {
  width: 70%;
}

.slide-page-3 .us {
  visibility: hidden;
  position: absolute;
  bottom: 36%;
  left: 0;
  width: 100%;
}

.slide-page-3 .us .yy {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-100%);
  z-index: 1;
}

.slide-page-3 .us .yy img {
  width: 60px;
}

.slide-page-3 .us .tt {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(100%);
  z-index: 1;
}

.slide-page-3 .us .tt img {
  width: 60px;
}

.slide-page-3 .city {
  visibility: hidden;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.slide-page-3 .city img {
  width: 100%;
}

.slide-page-3 .city h2 {
  display: none;
  position: absolute;
  bottom: 80px;
  left: 40px;
  color: #fff;
  font-size: 20px;
}

.slide-page-3.page-active h1.active {
  visibility: visible;
}

.slide-page-3.page-active .poem1.active {
  visibility: visible;
}

.slide-page-3.page-active .poem2.active {
  visibility: visible;
}

.slide-page-3.page-active .us.active {
  visibility: visible;
}

.slide-page-3.page-active .city.active {
  visibility: visible;
}

.photo-page {
  position: relative;
  background: #e0e0e0;
}

.photo-page .photo-wall img {
  display: block;
  border: 10px solid #fff;
  box-shadow: 10px 10px 10px #333;
  position: absolute;
  transform-origin: left top;
  transition: all 0.5s linear;
  z-index: 1;
  width: 100%;
}

.photo-page .photo-wall img:nth-of-type(1) {
  top: 22%;
  left: 25%;
  transform: rotate(-4deg) scale(0.36) translateX(-50%) translateY(-50%);
}

.photo-page .photo-wall img:nth-of-type(2) {
  top: 18%;
  left: 55%;
  transform: rotate(7deg) scale(0.32) translateX(-50%) translateY(-50%);
}

.photo-page .photo-wall img:nth-of-type(3) {
  top: 19%;
  left: 81%;
  transform: rotate(-24deg) scale(0.4) translateX(-50%) translateY(-50%);
}

.photo-page .photo-wall img:nth-of-type(4) {
  top: 49%;
  left: 21%;
  transform: rotate(16deg) scale(0.46) translateX(-50%) translateY(-50%);
}

.photo-page .photo-wall img:nth-of-type(5) {
  top: 51%;
  left: 50%;
  z-index: 2;
  transform: rotate(360deg) scale(0.34) translateX(-50%) translateY(-50%);
}

.photo-page .photo-wall img:nth-of-type(6) {
  top: 60%;
  left: 77%;
  transform: rotate(-10deg) scale(0.46) translateX(-50%) translateY(-50%);
}

.photo-page .photo-wall img:nth-of-type(7) {
  top: 39%;
  left: 77%;
  transform: rotate(13deg) scale(0.42) translateX(-50%) translateY(-50%);
}

.photo-page .photo-wall img:nth-of-type(8) {
  top: 72%;
  left: 20%;
  transform: rotate(20deg) scale(0.42) translateX(-50%) translateY(-50%);
}

.photo-page .photo-wall img:nth-of-type(9) {
  top: 85%;
  left: 47%;
  z-index: 0;
  transform: rotate(-8deg) scale(0.46) translateX(-50%) translateY(-50%);
}

.photo-page .photo-wall img:nth-of-type(10) {
  top: 81%;
  left: 80%;
  z-index: 0;
  transform: rotate(10deg) scale(0.3) translateX(-50%) translateY(-50%);
}

.photo-page .photo-wall img.active {
  top: 50%;
  left: 50%;
  transform: rotate(0deg) scale(1) translateX(-50%) translateY(-50%);
  z-index: 50;
}

.photo-page .photo-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 3;
}

.photo-page .photo-mask.active {
  display: block;
}

.canvas-page {
  font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #79a8ae;
  color: #666;
  font-size: 16px;
  line-height: 1.5em;
  -webkit-perspective: 1000;
  -webkit-perspective-origin-y: 25%;
  /* IE8 */
  /* IE9+,FF,CH,OP,SF */
}

.canvas-page.body--ready {
  /* Ideas
        background: -webkit-linear-gradient(top, #e2b986 -10%, #241c35 140%);
        background: -webkit-linear-gradient(top, #c97369 -40%, #241c35 130%);
        background: -webkit-linear-gradient(top, #fac4c4 -10%, #606386 140%);
        background: -webkit-linear-gradient(top, #519ab0 0%, #414A6D 110%);
        background: -webkit-linear-gradient(top, rgb(129, 0, 170) 0%, rgb(43, 4, 114) 110%);
        background: -webkit-linear-gradient(top, rgb(163, 235, 189) 0%, rgb(16, 93, 145) 110%);
        background: -webkit-linear-gradient(top, rgb(165, 103, 189) 0%, rgb(75, 233, 214) 120%);
        */
  background: -webkit-linear-gradient(top, #cbebdb 0%, #3794c0 120%);
  background: -moz-linear-gradient(top, #cbebdb 0%, #3794c0 120%);
  background: -o-linear-gradient(top, #cbebdb 0%, #3794c0 120%);
  background: -ms-linear-gradient(top, #cbebdb 0%, #3794c0 120%);
  background: linear-gradient(top, #cbebdb 0%, #3794c0 120%);
}

.canvas-page.body--ready .overlay {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1), opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: -moz-transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1), opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: -ms-transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1), opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: -o-transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1), opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1), opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.canvas-page .bottom-txt {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #fff;
  font-family: "Microsoft Yahei";
  text-shadow: 1px 1px 3px #666;
}

.canvas-page .bottom-txt.invisible {
  visibility: hidden;
}

.canvas-page .bottom-txt p {
  font-size: 20px;
  margin-bottom: 5px;
}

.canvas-page .bottom-txt em {
  display: block;
  font-size: 16px;
}

.canvas-page .dotting {
  display: inline-block;
  min-width: 2px;
  min-height: 2px;
  box-shadow: 2px 0 currentColor, 6px 0 currentColor, 10px 0 currentColor;
  -webkit-animation: dot 3s infinite step-start both;
  animation: dot 3s infinite step-start both;
  *zoom: expression(this.innerHTML = '...');
  /* IE7 */
}

.canvas-page .dotting:before {
  content: '...';
}

.canvas-page .dotting::before {
  content: '';
}

.canvas-page :root .dotting {
  margin-right: 8px;
}

@keyframes dot {
  25% {
    box-shadow: none;
  }
  50% {
    box-shadow: 2px 0 currentColor;
  }
  75% {
    box-shadow: 2px 0 currentColor, 6px 0 currentColor;
  }
}
